body{
    background: linear-gradient(to right, rgb(38, 38, 110), #333333);
}
#search-box{
    display: flex;
    justify-content: start;
    height: 100vh; 
    width: 20vw;
}
#search-form-container{
    
    background: linear-gradient(to left, rgb(56, 56, 184), #444444);
}
